@model HIA_Equipementv2.Models.Equipement

@{
    Layout = "~/Views/Shared/_connectedLayout.cshtml";
    ViewBag.Title = "Changement de statut";
}
<div class="container">

    <h2>Changer statut équipement</h2>
    <form action="~/Equipements/UpdateStatus">
        <div class="form-group" style="display: none">
            <label>Ref Statut:</label>
            <input class="form-control" value="@Model.fk_statut" name="fk_statut" />
           
        </div>
        <div class="mx-auto">
            <div class="border border-secondary rounded bg-warning" style="text-align: center">
            <label class="col-sm">Nom: @Model.nom</label>
            <label class="col-sm">NS: @Model.serial_number</label>
            <label class="col-sm">Commentaire actuelle: @Model.commentaire</label>
            <label class="col-sm">Statut Actuelle: @Model.statut</label>
            </div>
        </div>

        <div class="form-group">
            <label>Nouveau Commentaires</label>
            <textarea class="form-control" name="commentaire" >@Model.commentaire</textarea>
        </div>

        <div class="form-group">
            <label class="col-md-2">Nouveau statut</label>
            <select class="form-control" value="statut" name="statut">
                <option>En service</option>
                <option>En panne</option>
                <option>En maintenance</option>
                <option>Vendu</option>
                <option>Perdu</option>
                <option>Volé</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="idEquipement" value="@Model.idEquipement" style="display: none"/>

        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
 
<div class="container">
    @Html.ActionLink("Retour", "Index", "", new {@class="btn btn-primary"})
</div>
